.About {
    width: 500;
    height: 500;
}

.Showcase {
    width: 500;
    height: 500;
}

.Ava {
    width: 500;
    height: 500;
}

.Payments {
    width: 500;
    height: 500;
}

.Contact {
    width: 500;
    height: 500;
}